.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.card {
    width: 70%;
    max-width: 600px;
}
.card h2{
    text-align: center;
    margin-bottom: 1rem;


}


.products
     {
        display:flex;
      flex-direction :row;
      align-items: center;
      justify-content: space-between;
      margin:1rem;
      background-color:#fff;
      grid-template-rows: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
      padding: 1rem;
    }
     
    .products img
     {
      width: 50%;
      height: 50%;
      align-items: center;

    }


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #9fc4eb;
    color :black
}
.total {
    text-align:center;
    font-weight: bold;
}

.checksb {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    
}

.checksb :hover {
    background-color: #ecf1f6;
    color :black
}

