
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body {
    font-family:Arial,sans-serif;
    background-color:rgba(255, 255, 255, 0.616);
    }

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;

}
nav a:hover {
    color:rgb(94, 7, 245);
    font-size:15px;
    font-style: bold;
}
main {
  padding:20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}